body
{

    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--secondary-light-txt);

}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
/*Хедер*/

.logo-blue
{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
font-style: normal;
color: var(--accent-txt);
}
.logo-dark
{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--logo-light-txt);
}
.nav-link
{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-light-txt);
    
}
.nav-link:focus,
.nav-link:hover,
.head-mail:focus,
.head-mail:hover,
.head-phone:focus,
.head-phone:hover{
    color: var(--accent-txt);
}

.head-mail,
.head-phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-light-txt);

}













:root 
{
    /*Шрифты*/
    --main-font: "Roboto",sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /*Светлая тема текста*/
    --primary-light-txt: #212121;
    --secondary-light-txt: #757575;
    --accent-txt: #2196F3;
    --logo-light-txt: #000000;
    /*Темная тема текста*/
    --primary-dark-txt: #ffffff;
    --secondary-dark-txt:#C4C4C4;
    /*Светлая тема фона*/
    --primary-light-bg: #E5E5E5;
    --secondary-light-bg: #F5F4FA;
    /*Темная тема фона*/
    --primary-dark-bg: #2F303A;
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }